*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --primary: #ffcc01;
    --secondary: #2575bb;
    --tertiary: #17285e;
}
body{
    min-height: 100vh;
    background: linear-gradient(45deg,blue, darkblue, #2575bb, darkblue, blue);
    animation: bg ease-in-out infinite 20s alternate;
    background-size: 400% 400%;
}
@keyframes bg {
    from{ background-position: 0% 100%;}
    to { background-position: 100% 0%;}
}
header{
    height: 10vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}
header>svg{
    position: fixed;
    top: 1em;
    right: 1em;
    height: 3em;
    width: 3em;
    fill: var(--primary);
    cursor: pointer;
}
.hide{
    opacity: 0;
    z-index: -1;
}
header>form>input{
    font-size: 3em;
    width: 1.5em;
    padding: .1em;
    margin-right: .1em;
    border-radius: 5px;
    background: linear-gradient(0deg, var(--primary),white);
    color: var(--tertiary);
}
img{
    max-height: 100%;
}
h1{
    background-color: var(--primary);
    color: transparent;
    /* text-shadow: 1px 1px 3px var(--secondary); */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    margin: 1em;
}
button{
    border-top: .04em solid #aaa;
    border-left: .04em solid #aaa;
    border-right: .08em solid #555;
    border-bottom: .08em solid #555;
    /* background: #ccc; */
    background: var(--secondary);
    padding: .1em;
    border-radius: 5px;
    font-size: 3em;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
}
button>p{
    /* background-color: #565656; */
    background-color: var(--tertiary);
    color: transparent;
    /* text-shadow: 2px 2px 3px rgba(255,255,255,0.5); */
    text-shadow: 2px 2px 3px var(--secondary);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
button:hover>p{
    /* background: #707070; */
    background: var(--tertiary);
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
button:hover{
    border-right: .04em solid #555;
    border-bottom: .04em solid #555;
    border-top: .04em solid #aaa;
    border-left: .04em solid #aaa;
    padding: .12em;
    /* background: linear-gradient(0deg, #ccc, #aaa); */
    background: linear-gradient(to bottom, var(--tertiary), var(--secondary))
}
main{
    min-height: 78vh;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1em;
}
a{
    text-decoration: none;
}
main>div{
    height: 16em;
    width: 16em;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
    cursor: pointer;
}
.face{
    position: absolute;
    background: linear-gradient(red,green);
    border: 1em solid #fff;
    height: 100%;
    width: 100%;
    inset: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
}
.face>img, .behind>img{
    max-height: 90%;
    max-width: 90%;
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.5))
}
.face>h3{
    color: yellow;
    text-shadow: blue 2px 2px;
}
.behind{
    position: absolute;
    background: conic-gradient(#ccc 25%, #fff 0 50%, #999 0 75%, #fff 0), url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1200px-Pok%C3%A9_Ball_icon.svg.png");
    background-size: 7em 7em;
    background-repeat: space;
    background-blend-mode:multiply;
    border: 1em solid #111;
    height: 100%;
    width: 100%;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.behind>img{
    scale: 1;
}
.deal{
    animation : deal 1s linear;
}
.finish{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    scale: 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 18, 80, 0.5);
    border-radius: 5px;
    padding: .5em;
    text-align: center;
}
.finish>p{
    color: var(--primary);
    text-shadow: 1px 1px var(--secondary);
}
.finish>h1{
    margin: 0;
    font-size: 2.5em;
    color: var(--primary);
    text-shadow: -2px 2px var(--tertiary);
    -webkit-text-stroke: 2px var(--secondary);
}

.shake{
    animation: shake alternate .65s ease-out infinite; 
}
@keyframes shake {
    from{ translate: 0 0;}
    10%{ translate: 0 0;}
    20%{ translate: 0 0;}
    30%{ translate: 1em 0;}
    40%{ translate: -1em 0;}
    50%{ translate: 1em 0;}
    60%{ translate: -1em 0;}
    70%{ translate: 1em 0;}
    80%{ translate: -1em 0;}
    90%{ translate: 0 0;}
    to {translate: 0 0;}
}
@keyframes deal {
    from{
        transform:perspective(200px) rotateY(45deg) rotateX(15deg)
    }
}

@media (max-width: 768px),(max-device-width: 768px) {
    header{
        height: 25vh;
    }
    header>h1,header>img{
        height: 10vh;
    }
    header>form{
        height: 5vh;
    }
    .finish{
        scale: 1;
    }
}
/* FOOTER */
footer{
    height: 12vh;
    text-align: center;
}
.socialMedia{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    align-items: center;
}
.line{
    width: 30vw;
    background-color: lightgray;
    border-radius: 20px;
    height: 2px;
}
.socialMedia>a{
    text-decoration: none;
}
.socialMedia>a{
    translate: 0 20%;
}
.socialMedia>a>svg{
    position: relative;
    fill: lightgray;
    stroke-width: 12;
    height: 2em;
    cursor: pointer;
}
.socialMedia>a>p{
    color: gray;
    opacity: 0;
}
.socialMedia>a>svg:hover{
    animation: dasharray 3s linear infinite alternate;
    stroke: white;
    scale: 1.1;
    transition: 1s;
}
@keyframes dasharray {
    from{ 
        stroke-dasharray: 300;
    }
    to{
        stroke-dasharray: 650;
    }
}
.socialMedia>a>svg:hover~p{
    opacity: 1;
    transition: 1s;
}
.socialMedia>svg:not(hover),footer>svg:not(hover)~p{
    transition: 1s;
}
footer>p{
    padding: .2em;
    color: dimgray;
}
@media (max-width: 600px) {
    main{
        padding-top: 8vh;
        min-height: 72vh;
    }
    .socialMedia{
        gap: 0;
        padding-bottom: .2em;
    }
    .socialMedia>a>svg{
        height: 1.5em;
    }
}