*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
header{
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
input{
    font-size: 3em;
    width: 2em;
    padding: .1em;
    border-radius: 5px;
}
button{
    background-color: yellow;
    padding: .1em;
    border-radius: 5px;
    font-size: 3em;
    cursor: pointer;
}

main{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1em;
}
a{
    text-decoration: none;
}
div{
    height: 15em;
    width: 10em;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
    cursor: pointer;
}
.face{
    position: absolute;
    background-color: red;
    border: 1em solid green;
    height: 100%;
    width: 100%;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 5px;
}
.behind{
    position: absolute;
    background-color: blue;
    border: 1em solid green;
    height: 100%;
    width: 100%;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.finish{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    scale: 3;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}